  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}

  <div class="row">
  <div class="col-md-12">
      {{ form.report }}
    </div>
    <div class="col-md-12">
      {{ form.practice_table }}
    </div>
  </div>